.case
  color #666
  font-size 15px
  background #F1F1F1
  padding-bottom 20px
.banner
  width 100%
  height 250px
  position relative
.banner-text
  position absolute
  top: 50%
  left: 50%
  transform translate(-50%, -50%)
.banner-text-title
  margin-bottom: 10px
  font-size 38px
  font-weight 700
  color #fedaaf
.article
  padding 20px
  margin 20px auto 0
  max-width 1280px
  background #FFF
  text-align left
  border-radius 6px
.article-text-p
  text-indent 2em
  line-height 1.7
  padding 1em 0
.article-text-bold
  font-weight 700
